.main {
    height: 100vh;
    background-color: #ef91a4;
}

.mainContainer {
    border: 1px solid;
    height: 100%;
    width: 80%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.photoBlock {
    width: 300px;
    height: 300px;
    background-color: #6767ee;
    margin-right: 25px;
    box-sizing: border-box;

}

@media (width: 360px) {
    .mainContainer {
        flex-direction: column;
        justify-content: space-between;
        position: relative;
    }

    .textBlock {
        padding-top: 25px;
        text-align: center;
        font-size: 20px;
        width: auto;
        flex-wrap: wrap;
    }

    .photoBlock {
        width: 250px;
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
       margin-bottom: 25px;
    }
}