.title {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: 0;
    color: #fff;
    position: relative;
    .subLine {
        position: absolute;
        content: '';
        background: red;
        width: 100px;
        height: 1px;
        left: 50%;
        transform:translate(-50%, 50%);
    }
}


