.footerBlock {
  max-height: 33vh;
  background-color: #95f1c8;

  .footerContainer {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .socialBlock {
      margin-top: 16px;
      margin-bottom: 16px;
      display: flex;
      width: 450px;
      height: 51px;
      border: 1px solid;
      background-color: #c9c8c8;
      justify-content: space-between;
      list-style-type: none;
      padding: 0;
    }

    .socialBlock li {
      height: 50px;
      width: 50px;
      border: 1px solid;
      background-color: #6fda6f;
    }

    .reserved {
      border: 1px solid;
      background-color: #64a9f5;
      margin-bottom: 8px;

    }
  }
}

@media screen and (max-width: 360px) {
  .socialBlock {
    width: 75%;
  }
}