.workBlock {
    width: 100%;
    border: 1px solid;
}

.imageBlock {
    width: 100%;
    height: 55vh;
    background-color: #e37d90;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    border: 1px solid;
    width: 140px;
    height: 40px;
    background-color: #9af3f3;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button a {
    text-decoration: none;
    font-weight: bold;
}

.description {
    background-color: #e1dfdf;
}

.description h3 {
    width: auto;
    background-color: #a8a7a7;
    margin: 10px;
}

.description span {
    margin: 10px;
    width: auto;
    height: 75px;
    background-color: #a8a7a7;
}